$fg: {fg};
$fg_dim: {fg_dim};
$fg_bright: {fg_bright};
$bg: {bg};
$bg_dim: {bg_dim};
$ok: {ok};
$ok_dim: {ok_dim};
$alert: {alert};
$alert_dim: {alert_dim};
$warn: {warn};
$warn_dim: {warn_dim};
$bright: {bright};
$bright_dim: {bright_dim};
$accent: {accent};
